<article class="post">
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <div class="title-post-info">
      <a id="post-info">posted by {{user.username}} on {{format_date created_at}}</a>
      <span id="post-link">({{format_url post_url}})</span>
    </div>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}
    </a>
  </div>
</article>